@inject IAddressService AddressService

@if (address == null)
{
    <span>You haven't specified delivery address.
        <button class="btn btn-primary" @onclick="InitAddress">Add an address</button>
    </span>
}
else if (!editAddress)
{
    <p>
        <span>@address.FirstName @address.LastName</span><br />
        <span>@address.Street</span><br />
        <span>@address.City, @address.State, @address.Zip</span><br />
        <span>@address.Country</span>
    </p>
    <button class="btn btn-primary" @onclick="EditAddres">Edit address</button>
}
else
{
    <EditForm Model="address" OnSubmit="SubmitAddress">
        <div class="mb-3">
            <label for="firstname">First Name</label>
            <InputText id="firstname" @bind-Value="address.FirstName" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="lastname">Last Name</label>
            <InputText id="lastname" @bind-Value="address.LastName" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="street">Street</label>
            <InputText id="street" @bind-Value="address.Street" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="city">City</label>
            <InputText id="city" @bind-Value="address.City" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="state">State</label>
            <InputText id="state" @bind-Value="address.State" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="zipcode">Zip code</label>
            <InputText id="zipcode" @bind-Value="address.Zip" class="form-control"></InputText>
        </div>
        <div class="mb-3">
            <label for="country">Country</label>
            <InputText id="country" @bind-Value="address.Country" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}